*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}

.zzc{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 999;
}
.tcc{
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    width: 300px;
    height: 200px;
    position: absolute;
    left:50%;
    top:50%;
    background: #fff;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.gmBtn{
    width: 100px;
    height: 20px;
    background: #f38c87;
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: block;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
}
.priceNum{
    width: 100%;
    display: inline-block;
    color: #f38c87;
    margin-top: 10px;
    text-align: center !important;
}
.scorePage li{
    border:1px solid #ccc;
    padding:15px 10px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}
.scorePage .readNum{
    top:155px;
    right:12px;
}
.vip li{
    border:1px solid #ccc;
    padding:15px 10px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}
.scorePage li img{
    height: 160px !important;
}
.vip .readNum{
    top:75px;
    right:12px;
}
.piano-data{
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}
.piano-data ul{
    margin: 0 auto;
    margin-left: 4%;
}
html,body{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.piano-box{
    width: 100%;
    height: 100%;
    background: #f7f7f7 url('../img/bg.jpg') no-repeat;
    background-size:100% 100%;
}
.piano-header{
    height: 80px;
    background: #fff;
    padding: 20px 80px;
    box-sizing: border-box;
    min-width: 1200px;
}
.piano-tx p{
    display: inline-block;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}
.piano-tx img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
}
.piano-header img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}
.piano-header .name{
    padding-top: 1px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.piano-main{
    /* min-width: 1200px; */
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    padding: 0 80px;
}
.pianoKeyboard{
    position: relative;
}
.yuan:nth-child(1){
    position: absolute;
    left:150px;
    top:90px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(224, 201, 124, 0.5);
}
.yuan:nth-child(2){
    position: absolute;
    left:115px;
    top:90px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(224, 201, 124, 0.5);
}
.yuan:nth-child(3){
    position: absolute;
    left:132px;
    top:90px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(224, 201, 124, 0.5);
}
.piano-r{
    float: right;
    margin-top: 30px;
}
.piano-l{
    float: left;
    border:1px solid #e7e7e7;
    border-radius: 5px;
    margin-top: 30px;
    background: #fff;
}
.piano-item1{
    border:1px solid #e7e7e7;
    height: 430px;
    background: #fff;
    border-radius: 5px;
}
.piano-item2{
    border:1px solid #e7e7e7;
    height: 110px;
    background: #fff;
    background-size: 100%;
    border-radius: 5px;
    margin-top: 53px;
    color:#ccc;
    text-align: center;
    line-height: 110px;
    font-size: 30px;
}
.piano-l{
    width: 45%;
    margin-right: 50px;
    height: 600px;
}
.piano-r{
    width: 45%;
    
}
.echarts{
    width: 100%;
    height: 400px;
}
.piano-title-course{
    color: #393939;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 25px;
    padding-left: 5px;
    text-align: left;
    border-left: 3px solid #f38c87;
}
.piano-title{
    color: #393939;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 35px;
    padding-left: 5px;
    text-align: left;
    border-left: 3px solid #f38c87;
}
.piano-data li p:nth-child(1){
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}
.piano-data li:last-child{
    border-right:none;
}

.piano-data li p:nth-child(2){
    color: #8d8d8d;
}
.piano-data li span{
    font-size: 12px;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
}
.piano-data li{
    width: 32%;
    text-align: center;
    float: left;
    font-size: 12px;
    list-style: none;
    margin-bottom: 30px;
    border-right: 1px solid #e8e8e8;
}
.shengji{
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 7px;
    cursor: pointer;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg,#faaf52 0%,#facf4d 74%);
    background-image: -webkit-linear-gradient(147deg,#faaf52 0%,#facf4d 74%);
    background-image: -moz-linear-gradient(147deg,#faaf52 0%,#facf4d 74%);
    background-image: -o-linear-gradient(147deg,#faaf52 0%,#facf4d 74%);
}
.nav{
    float: left;
    margin-top: 7px;
    margin-left: 90px;
}
.nav li{
    float: left;
    list-style: none;
    text-align: center;
    width: 80px;
}
.nav a{
    font-size: 14px;
    color: #424242;
    text-decoration: none;
}
.nav .active a{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #f38c87;
    padding-bottom: 10px;
}
.search{
    float:right;
}
.search-icon{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/search-icon.png') no-repeat center center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}
.search-input{
    outline: none;
    width: 200px;
    padding: 10px 10px;
    border:1px solid #e7e7e7;
    border-radius: 5px;
}
.piano-itemUl li{
    list-style: none;
}
.piano-itemUl{
    padding-top: 20px;
}
.piano-itemUl.index .jindu {
    position: absolute;
    left:0;
    top:0;
    border-radius: 3px 0 0 3px;
    height: 100%;
    background:transparent;
    z-index: 1;
}
.piano-itemUl.index li{
    padding: 6px 10px;
    text-align: left;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 10px;
    background: #fff;
    height: 50px;
    margin-bottom: 10px;
    border:1px solid #ccc;
}
.piano-itemUl.index p{
   color: #000 !important;
}
.piano-itemUl li{
    padding: 6px 10px;
    text-align: left;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 10px;
    background: #c9c9c9;
    height: 50px;
    margin-bottom: 10px;
}
.piano-itemUl li{
    position: relative;
}

.jindu {
    position: absolute;
    left:0;
    top:0;
    border-radius: 3px 0 0 3px;
    height: 100%;
    background:rgba(255,166,44,0.5);
    z-index: 1;
}
.piano-itemUl li p{
    position: relative;
    z-index: 3;
}
.piano-itemUl li p:nth-child(1){
    color: #fff;
    font-size: 14px;
}
.piano-itemUl li p:nth-child(2){
    color: #fff;
    font-size: 12px;
}
.block{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 9999;
}
.piano-course-ul p {
    text-align: left;
    padding-left: 5px;
}
.piano-course-ul li img{
    width: 120px;
    height: 80px;
}
.piano-course-ul li{
    position: relative;
    width: 120px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}
.piano-course-ul{
    padding: 20px;
   overflow: hidden;
}
.readNum{
    position: absolute;
    right:5px;
    top: 60px;
    color: #fff;
    font-size: 12px;
}
.piano-scoreDetails{
    padding-top: 20px;
    overflow: hidden;
}
.piano-scoreDetails .title{
    font-size: 18px;
    font-weight: bold;
}
.piano-scoreDetails .tableTH{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}
.piano-scoreDetails .tableTR{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
}
.piano-scoreDetails .tableTR li:nth-child(1){
    width: 10%;
}
.piano-scoreDetails .tableTR li{
    float: left;
    width: 22%;
    height: 45px;
    box-sizing: border-box;
    line-height: 45px;
    color: #333;
    font-size: 16px;
    border:1px solid #ccc;
    border-width: 1px 0 1px 0;
}
.piano-scoreDetails .tableTH li:nth-child(1){
    width: 10%;
}
.hexian{
    text-align: left;
    padding-left: 10px;
}
.piano-scoreDetails .tableTH li{
    float: left;
    width: 22%;
    height: 35px;
    box-sizing: border-box;
    line-height: 35px;
    background: #ccc;
    color: #fff;
    font-size: 12px;
    border-right: 2px solid #fff;

}
.pianoKeyboard{
    position: fixed;
    left:50%;
    width: 100%;
    bottom:0;
    height: 130px;
    background: url('../img/key.png') no-repeat center bottom;
    background-size: 100%;
    transform: translate(-50%, 0%);
}
.money{
    width: 600px;
    margin: 0 auto;
}
.money li{
    width: 100% !important;
    text-align: left;
    background: #fff;
    padding:15px 10px;
}
.money .gmBtn{
    float:right;
    position: relative;
    top:-60px;
    right: 10px;
}
.money .priceNum{
    display: inline;
}
.details-l{
    float: left;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.details-r{
    float: left;
    border-radius:0 20px 20px 0;
    overflow: hidden;
}
.tm-jb{
    background-image: linear-gradient(to left, rgba(0, 0, 0,1), transparent);
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
.viBox{
    width:1090px; margin:20px auto;padding: 10px;
    box-sizing: border-box;
    background: #000;
    overflow: hidden;
    border-radius: 20px;
}
.details-info{
    text-align: left;
    box-sizing: border-box;
    padding:20px 5px 0 5px;
}
.details-info h3{
    margin-bottom: 10px;
}
.side-box{
 position: fixed;
 right: 0;
 top:220px;   
 z-index: 666;
 font-size: 12px;
}
.side-box li{
    cursor: pointer;
    width: 60px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    color:#666;
    border: 1px solid #ccc;
    box-sizing: border-box;
}